@model SolNWebApp.Models.ControleLancamento

@{
    ViewData["Title"] = "Detalhes";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Controle de Lancamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Controle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Controle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fas fa-user-edit"></i>Editar</a> |
    <a asp-action="Index" class="btn btn-primary"><i class="fas fa-arrow-circle-left"></i> Voltar</a>
</div>
