@model IEnumerable<SolNWebApp.Models.Atleta>

@{
    ViewData["Title"] = "Lista de Atletas";
}

<h1>@ViewData["Title"]</h1>
<div class="row bg-light">
    <div class="col-md-12">
        <form asp-action="SearchBirthday">
            <div class="col-md-12">
                <br />
                <div class="col-lg-4">
                    <button type="submit" class="btn btn-info"><i class="fas fa-birthday-cake"></i> Aniversariantes</button>
                    <a asp-action="Create" class="btn btn-dark"><i class="fas fa-hdd"></i> Novo Atleta</a>
                    <br />
                </div>
                <br />
            </div>
        </form>
    </div>
    

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posicao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (item.Nome == "Mário Mendes")
                {
                    <span class="badge badge-success " title="Presidente da Comissão"> @Html.DisplayFor(modelItem => item.Nome) <i class="fa fa-eye"></i></span>

                }
                else if (item.MembroComissao == true)
                {
                    <span class="badge badge-warning" title="Membro da Comissão"> @Html.DisplayFor(modelItem => item.Nome) <i class="fa fa-eye"></i></span>

                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Nome)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posicao)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.Telefone)
                

            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fas fa-user-edit"></i>Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary"><i class="fas fa-exclamation-circle"></i>Detalhes</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" ><i class="fas fa-trash-alt"></i>Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
