@model SolNWebApp.Models.SituacaoDoAtleta

@{
    ViewData["Title"] = "Apagar situação do atleta";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Situação do Atleta</h4>
    <h3 class="text-danger">Você tem certeza que deseja apagar esse registro?</h3>
    <samp class="text-danger">(SIM) pressione no botão Delete.<br> (NÃO) pressione no botão Voltar a Lista</samp>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Situacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-outline-danger" /> |
        <a asp-action="Index" class="btn btn-outline-primary">Voltar a lista</a>
    </form>
</div>
