@model IEnumerable<SolNWebApp.Models.SituacaoDoAtleta>

@{
    ViewData["Title"] = "Index";
}

<h1>Movimentação do Atleta</h1>
<div class="row bg-light">
    <div class="col-md-6">
        <form class="form-inline my-2 my-lg-0" asp-action="GroupingSearch">
            <fieldset class="col-6">
                <legend>Busca por Grupo</legend>
            </fieldset>
            <div class="form-group">
                <label for="minDate" class="col-lg-6 control-label" >Data Mínima</label>
                <div class="col-lg-6">
                    <input type="date" name="minDate" class="form-control"  />
                </div>
            </div>
            <div class="form-group">
                <label for="maxDate" class="col-lg-6"  >Data Máxima</label>
                <div class="col-lg-6">
                    <input type="date" name="maxDate" class="form-control" />
                </div>
            </div>
            <div class="form-vertical col-lg-6">
                <div class="col-lg-6">
                    <button type="submit" class="btn btn-info">Buscar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <form class="form-inline my-2 my-lg-0" asp-action="SimpleSearch">
            <fieldset class="col-6">
                <legend>Busca Simples</legend>
            </fieldset>
            <div class="form-group">
                <label for="minDate" class="col-lg-6 control-label">Data Mínima</label>
                <div class="col-lg-6">
                    <input type="date" name="minDate" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="maxDate" class="col-lg-6">Data Máxima</label>
                <div class="col-lg-6">
                    <input type="date" name="maxDate" class="form-control" />
                </div>
            </div>
            <div class="form-vertical col-lg-6">
                <div class="col-lg-6">
                    <button type="submit" class="btn btn-info">Buscar</button>
                </div>
            </div>
        </form>
        <br>
    </div>
    
</div>
<div class="row d-xl-inline-block"></div>
<p>
    <a asp-action="Create" class="btn btn-dark">Nova Situação</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Atleta.Nome)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Situacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Atleta.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Situacao)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Status)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    <!--<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a> verificar a possibilidade de edição com senha master-->
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
